PORT=3000

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

APP_URL=http://localhost:3000

PAYMENT_PROVIDER=paymob

INSTAPAY_HANDLE=
WALLET_NUMBER=

PAYMOB_SECRET_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=
